<p class="lead">
  Enter the book when you've read it, along with a quick review.
</p>

<%= link_to "Add New Book", new_book_path, :class => "btn btn-primary" %>

<br><br>

<table class="table">
  <th>Number</th>
  <th>Title</th>
  <th>Author</th>
  <th>Created</th>
  
  <% @books.each_with_index do |book, counter| %>
    <tr>
      <td><%= counter + 1 %></td>
      <td><%= link_to book.title, book_path(book.id) %></td>
      <td><%= book.author %></td>
      <td><%= book.created_at.strftime("%d %B, %Y")%>
    </tr>
  <% end %>
</table>
